body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(90deg,#d6ffa7,#76db03);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; /* To make sure pop-up is positioned relative to the body */
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}

#counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#counter {
  font-size: 48px;
  margin: 80px 20px;
}




.add {
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #5fae61;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}
.add:hover {
  background-color: #45a049;
}

.reset {
  padding: 10px;
  border-radius: 50px;
  font-size: 24px;
  background-color:#5f9dae;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.reset:hover {
  background-color: #4582a0;
}

#pop-up {
  display: none;
  position: absolute; /* Change to absolute positioning */
  top: 10%; /* Adjusted top position */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  animation: pop-up 0.5s ease;
}

@keyframes pop-up {
  0% {
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) scaleY(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}
